# <u><center> HackerRank Contest 3 - Sample solutions

# Challenge 1

In this challenge , you will have to find the number of times that YGSL occurs in a contiguous form.

Given a string.

"YAGBBSCCCLDDD" should return 1

"YGHESIITLEEYGSL" should return 2

"YGYGSIHHIILT" should return 1

"YGLSYGSL" should return 1

**Input:**

The first line will contain a single integer - the length of the string (N)
The second line will contain the string (S) containing N consecutive UPPERCASE characters
Output:

A single integer containing the number of times the word YGSL occurs within the string
Enter the student's marks for english, mathematics, history and art. Find the average and print the result. Ensure that the average is not a decimal answer.

**Input Format**
8

YGSLYGSL

**Constraints**

1 <= N <= 100

**Output Format**</br>
2

**Sample Input 0**</br>
13</br>
YAGBBSCCCLDDD

**Sample Output 0**</br>
1

**Sample Input 1**</br>
15</br>
YGHESIITLEEYGSL</br>

**Sample Output 1**</br>
2

In [ ]:
length = int(input())
phrase = input()

text = "YGSL"

ptr =  0
count = 0

for i in range(length) :
    if (text[ptr] == phrase[i]): #match for 1 letter found
        ptr+=1 #increment the variable so that the next letter in YGSL is searched for
        if ptr == 3: #since ptr goes from 0 to 3, it means that all 4 letters of YGSL has been found
            count+=1 #so the counter is increasde
            ptr = 0  #variable is set to 0, so that after 1 YGSL has been found, another can be searched for 
print(count)

8
YGSLYGSL
2

# Challenge 2

The YGSL leads have decided to map students’ names to their respective birthdays. The objective is to find the birthday for a given name using a query.

For each name requested, print the related entry from your birthday record on a new line in the form name=birthday; 
If an entry for name is not found, print 'Not found' instead.

Write a program that helps our leads with this task.

**Input Format** 
- The first line contains an integer, n, denoting the number of students
- The next 'n' lines includes the given first names and birthdays.
  The first value is a students’ name, and the second value is 8 intger digit  birthday in the format of year-month-day with no spaces between the digits.

After these n lines, the number of lines of queries are equivalent to that input by the user. Each line (query) contains a name to look up, and you must continue reading lines until there is no more input.

Note: Names consist of lowercase English alphabetic letters and are first names only.
Hint: Use Python dictionaries

**Constraints**

1 <= n <= 10^5

1 <= queries <= 10^5

**Output Format**

On a new line for each query, print Not found if the name has no corresponding entry in the record; 
otherwise, print the name and birthday in the format name=birthday.

**Sample Input 0**

4 </br>
mary 19990122</br>
john 19980423</br>
anne 19990211</br>
kylie 20000415</br>
john</br>
mary</br>
ella</br>
anne</br>

**Sample Output 0**

john = 19980423</br>
mary = 19990122</br>
ella = not found</br>
anne = 19990211</br>

In [ ]:
n = int(input())
students = {}
for i in range (n):
    record = input().split()
    students[record[0]] = record[1]

for i in range (n):
    val = input()
    if val in students.keys():
        print(val,'=',students[val])
    else:
        print(val,'=',"not found")

4
mary 19990122
john 19980423
anne 19990211
kylie 20000415
john
john = 19980423
mary
mary = 19990122
ella
ella = not found
anne
anne = 19990211